@import '/src/scss/animation-floating';
@import '/src/scss/variable';

.page-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-green;
  margin-top: -120px;
  padding-bottom: 100px;
  position: relative;
  z-index: -1;
}
