@import '/src/scss/variable';

main {
  background: $light-green;
  height: auto;
  width: 100%;
  padding: 3vh 18% 3vh 18%;
}

.box {
  display: flex;
  align-items: center;
  height: 100%;
}

.text {
  width: 40%;
  height: 600px;
  color: #EDF5F1;
  display: flex;
  flex-direction: column;
}

.search {
  height: 50px;
  width: 100%;
}

.text h1 {
  font-size: 96px;
  letter-spacing: 2.5px;
  line-height: 120px;
  text-shadow: 0.5px 0.5px $dirty-purple;
}

.text h3 {
  font-size: 38px;
  margin-bottom: 50px;
  text-shadow: 0.5px 0.5px $dirty-purple;
}

.ilustration {
  width: 60%;
}

.size-ilustration {
  height: 35vw;
  width: 40vw;
}

.text-quote {
  color: $dirty-purple;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
}

.quote-box {
  height: auto;
  width: 100%;
  border-radius: 40px;
  background: $dirty-purple;
  color: #EDF5F1;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tic {
  font-size: 80px;
  line-height: 80px;
}

.quote {
  margin-top: -25px;
  font-size: 30px;
}

.author {
  font-size: 20px;
  align-self: flex-end;
}

.popular-quotes {
  height: auto;
  width: 100%;
  background: #E5E5E5;
  border-radius: 40px;
  border: solid 10px #cfcfcf;
  padding: 15px 30px 0 30px;
  display: grid;
  grid-template-columns: 1fr 1fr .3fr 1fr 1fr;
  grid-template-rows: .8fr .3fr .8fr 1fr 1fr 1fr 1fr;
  margin: 100px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $dirty-purple;
  grid-column: 1/-1;
  grid-row: 1/2;

}

.top h1 {
  letter-spacing: 1px;
}

.line {
  width: 100%;
  margin-top: 15px;
  height: 1.5px;
  border: none;
  background: $dirty-purple;
  grid-column: 1/-1;
  grid-row: 2/3;
}



.topic-box-left,
.topic-box-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topic-box-left {
  grid-column: 1/3;
  grid-row: 3/4;
}

.topic-box-right {
  grid-column: 4/7;
  grid-row: 3/4;
}




.links-topic {
  grid-column: 1/3;
  grid-row: 4/8;
  display: flex;
  justify-content: space-between;
}

.text-all {
  color: $dark-blue;
  font-size: 11px;
  font-weight: 800;
}

.links-author {
  grid-column: 4/6;
  grid-row: 4/8;
  display: flex;
  justify-content: space-between;
}

.v-line {
  border-left: 10px solid #C4C4C4;
  height: auto;
  opacity: .5;
  margin: 20px 0 20px 0;
  grid-column: 3/4;
  grid-row: 3/8;
  margin-left: calc(50% - 10px);
}

li {
  margin-bottom: 10px;

}

a {
  color: $dirty-purple;
  font-weight: 400;
}

.left-left-links,
.left-right-links,
.right-left-links,
.right-right-links {
  width: 50%;
}

@media only screen and (max-width: 1200px) {
  main {
    padding: 3vh 8% 3vh 8%;
  }
}

@media only screen and (max-width: 900px) {
  main {
    padding: 3vh 8% 3vh 8%;
  }

  .left-left-links {
    width: 100%;
  }

  .left-right-links {
    display: none;
  }

  .right-left-links {
    width: 100%;
  }

  .right-right-links {
    display: none;
  }

  .ilustration {
    display: none;
  }
}
