<main class="container">
  <div class="box">
    <div class="text">
      <h1>ZNAJDŹ SWOJE CYTATY</h1>
      <h3>WYSZUKAJ CYTATY</h3>

      <div class="search">
        <app-search></app-search>
      </div>

    </div>
    <div class="ilustration">
      <img [src]="ilustration" class="size-ilustration" alt="women ilustration with books">
    </div>
  </div>

  <div class="quotes-today">
    <h1 class="text-quote">CYTAT DNIA</h1>
    <div class="quote-box">
      <p class="tic">"</p>



      <p class="quote">A poor man is not the one without a cent. A poor man is the one without a dream.</p>
      <p class="author">-Henry Ford</p>
    </div>
  </div>

  <div class="popular-quotes">
    <div class="top">
      <h1>Popularne</h1>
      <img [src]="fire" alt="">
    </div>

    <hr class="line">

    <div class="topic-box-left">
      <h3>Tematy</h3>
      <p class="text-all">WSZYSTKIE</p>
    </div>

    <div class="topic-box-right">
      <h3>Autorzy</h3>
      <p class="text-all">WSZYSTKIE</p>
    </div>

    <div class="links-topic">
      <div class="left-left-links">
        <ul>
          <li><a href="">Programowniae</a></li>
          <li><a href="">Miłosne</a></li>
          <li><a href="">Technologia</a></li>
          <li><a href="">Życie</a></li>
        </ul>
      </div>
      <div class="left-right-links">
        <ul class="nav-links">
          <li><a href="">Motoryzacja</a></li>
          <li><a href="">Muzyka</a></li>
        </ul>
      </div>
    </div>

    <div class="v-line"></div>

    <div class="links-author">
      <div class="right-left-links">
        <ul>
          <li><a href="">Albert Einstein</a></li>
          <li><a href="">Dennis M.Ritchie</a></li>
          <li><a href="">Dorota Terakowska</a></li>
        </ul>
      </div>
      <div class="right-right-links">
        <ul>
          <li><a href="">Henry Ford</a></li>
          <li><a href="">Adam mickiewicz</a></li>
          <li><a href="">Marek Hłasko</a></li>
          <li><a href="">Marek Aureliusz</a></li>
        </ul>
      </div>
    </div>
  </div>


</main>
