@import '/src/scss/input';
@import '/src/scss/layout';
@import '/src/scss/variable';
@import '/src/scss/frame';

.container {
  @include center-flex;
  height: 800px;
  background-color: $light-green;
}


h1 {
  color: $dirty-purple;
  font-weight: 600;
}


.inputs {
  @include center-flex;
  @include light-frame;
  height: 750px;
  width: 800px;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}


input, select {
  @include input(100%, 50px);
}

label {
  margin-bottom: 5px;
  font-size: 13px;
  margin-left: 5px
}


button {
  @include button(100%, 45px);
  margin-top: 50px;
}

.input-file {
  padding: auto;
}
