@import '/src/scss/variable';

.container{
  height: 1000px;
  background: $light-green;
  padding-top: 30px;

}

.left {
  margin-top: 30px;
  width: 75%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-right: 50px;
  justify-content: space-between;
}

h1 {
  color: #F3F4F4;
  font-size: 60px;
  font-weight: 600;

}

h4 {
  font-weight: 400;
}

h2 {
  color: $dirty-purple;
}

.short{
  color: #F3F4F4;
}

.block {
  display: flex;
  margin-top: -10px;
}

.letter {
  margin-left: 15px;
}


.text-box {
  width: 60%;
}


/* container */
.right {
  margin: 20px 0;
  width: 28%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.right h3 {
  color: $dirty-purple;
}

.popular-topic {
  width: 100%;
  height: 40px;
  border: solid 4px #D6D6D6;
  border-left: solid 4px red;
  border-radius: 40px;
  background: #E5E5E5;
  margin-top: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}






