@import '/src/scss/variable';


footer {
  background: #E5E5E5;
  padding: 30px 18vw 30px 18vw;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.logo {
  grid-column: 1/3;
  grid-row: 1/2;
}

.copy-write {
  grid-column: 1/3;
  grid-row: 4/5;
  display: flex;
  align-items: flex-end;
}

.nav-left {
  grid-column: 5/6;
  grid-row: 1/3;
  display: flex;
  justify-content: flex-end;
}

.nav-right {
  grid-column: 6/7;
  grid-row: 1/4;
  display: flex;
  text-align: right;
  justify-content: flex-end;
}

li {
  margin-bottom: 20px;
}

a {
  color: $dark-blue;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 700;
}

p {
  color: $dark-blue;
  font-weight: 800;
}

.social {
  grid-column: 6/7;
  grid-row: 4/5;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.social-img-size {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

@media only screen and (max-width: 1200px) {
  footer {
    padding: 3vh 8% 3vh 8%;
  }
}



