<footer class="container">
  <app-logo class="logo"></app-logo>
  <div class="copy-write">
    <p>Copywrite C QuotesTheBest 2000-2021.</p>
  </div>
  <div class="nav-left">
    <ul>
      <li><a href="">POLITYKA PRYWATNOSCI</a></li>
      <li><a href="">KONTAKT</a></li>
    </ul>
  </div>
  <div class="nav-right">
    <ul>
      <li><a href="">GŁÓWNA</a></li>
      <li><a href="">WG AUTORA</a></li>
      <li><a href="">WG TEMATU</a></li>
      <li><a href="">DODAJ CYTAT</a></li>
    </ul>
  </div>

  <div class="social">
    <img class="social-img-size" [src]="twitter" alt="">
    <img class="social-img-size" [src]="instagram" alt="">
    <img class="social-img-size" [src]="facebook" alt="">
  </div>
</footer>
