.block-quote {
  height: auto;
  position: relative;
  width: 100%;
  background: #E5E5E5;
  border: solid 4px #D6D6D6;
  border-radius: 40px;
  margin-bottom: 80px;
  display: flex;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quote {
  color: #2F2E41;
  font-size: 25px;
  letter-spacing: 1.2px;
}

.photo{
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-right: 30px;
}

.box {
  display: flex;
  width: 100%;
  height: calc(auto + 30px);
  justify-content: space-between;
}

.autor {
  align-self: flex-end;
  margin-left: -30px;
  margin-bottom: -9px;
}

.left{
  display: flex;
  width: 100%;
}

.right {
  display: flex;
}

.autor {
  font-weight: bold;
  margin-right: 10px;
}
.date {
  width: 70px;
  height: 30px;
  position: absolute;
  bottom: -50px;
  right: 10px;
  align-self: center;
}

.likes {
  position: absolute;
  align-self: center;
  left: 10px;
  bottom: -20px;
  display: flex;
  width: 200px;
  align-items: center;
}

.like {
  height: 22px;
  width: 22px;
  margin-right: 10px;
  opacity: 0.60;
}

